body {
	font-size: 11pt;
	font-family: "arial", "helvetica", sans-serif;
	line-height:25px;
	color: #000000;
	text-align: justify;
	width: 75%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 10px;
}

/* HEADER */
#head {
/*	top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
	text-align: center;
	padding-bottom: 20px;*/
	font-family: "Garamond", "Georgia", serif;
/*	position: fixed;
	background-color: white;*/
}

/* MAIN SECTION */
#mainSection {
	overflow: auto;
	margin-top: 150px;
}

#middle {
	width: 45%;
	margin-right: auto;
	text-align: left;
	float: left;
	font-size: 11pt;
	line-height: 20px;
}

#middle img {
	width: 100%;
}

#middle span.small {
	font-size: 10pt;
}


#info {
	float: right;
	/*margin-right: 60px;
	margin-left: 60%;*/
	width: 50%;
	font-family: "arial", "helvetica", sans-serif;
}

.fa {
	color: grey;
}

.fa:hover {
	color: gold;
}

#info span.bold {
	font-weight: bold;
}

/* ABOUT SECTION */
#asBody {
	display: none;
}

.tooBig {
	width: 60%;
}

#asBody span.small {
	font-size: 10pt;
}

/* PROJECT SECTION */
#psBody {
	display: none;
}

#coopHead, #graffitiHead, #picassoHead, #tribHead {
	display: inline-block;
}

#coopHead:hover, #graffitiHead:hover, #picassoHead:hover, #tribHead:hover {
	color: gold;
	display: inline-block;
}

#coopBody, #graffitiBody, #picassoBody, #tribBody {
	display: none;
	width: 90%
}

/* LINK SECTION */
#lsBody {
	display: none;
}

#lsBody a {
	text-decoration: none;
}

#lsBody a:link {
	color:black;
}

#lsBody a:visited, a:active {
	color: gold;
}

#lsBody a:hover {
	text-decoration: underline;
}
