/* PAGE */
.section {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: midnightblue;
	padding: 10px;
}

.sectionHead {
	color: midnightblue;
}

.section .sectionBody {
	display: none;
	padding-bottom: 50px;
}

.fa {
	color: dimgray;
}

.sns .fa:hover {
	color: midnightblue;
}

.toTop {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
}

/* HEADER */
.bg {
  background: url("./pics/forbidden_city_startrail.jpg") no-repeat center center;
  background-size: 100%;
  border-radius: 50px;
  width: 100%;
  z-index: -1;
}

.jumbotron {
  background:rgba(255,255,255,0.5);
}

#head {
	text-align: center;
}

#head h1 {
    font-family: "Georgia", serif;
    font-weight: bold;
    color: snow;
}

#head .intro {
	padding-top: 20px;
	padding-bottom: 30px;
}

#head .intro p {
	color: ghostwhite;
	font-size: 14pt;
}

#head button {
	padding-top: 20px;
	color: snow;
	font-weight: bold;
	font-family: "Georgia", serif;
	font-size: 15pt;
	text-shadow: 0 0 2px midnightblue;
}

#head button:hover{
	color: midnightblue;
	background-color: transparent;
	text-shadow: 0 0 2px snow;
}

/* TIMELINE SECTION */
#tlSection .milestone {
	font-weight: bold;
}

/* TECHNICAL SECTION */
#projectSection .project {
	padding: 20px;
	padding-bottom: 30px;
}

#projectSection .project-overview ul {
	list-style-type: none;"]
}

/* ABOUT SECTION */
.tooBig {
	width: 60%;
}


.fa-question-circle:hover {
	color: midnightblue;
}

#aboutSection span.small {
	font-size: 10pt;
}

#minesweeper .btn-small {
    padding: 0px;
    margin: 0px;
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

#minesweeper .visible-xs-block {
	line-height: 15px; /* must be same as button height and width */
}

#minesweeper .btn-x-small {
    padding: 0px;
    margin: -1px;
    width: 15px;
    height: 15px;
    border-radius: 0px;
    font-size: 7pt;
}
#minesweeper .btn-default.active, #minesweeper .btn-default:active {
      background-color: white;
   }

/* CONTACT SECTION */

#contactSection .list-group {
	box-shadow: none;
	border: none;
}

#contactSection .list-group-item {
	border: none;
}
